<div
  class="table-responsive shadow-sm rounded-4 overflow-hidden"
  *ngIf="colleges.length > 0"
>
  <table class="table table-hover align-middle mb-0">
    <thead class="bg-dark text-light">
      <tr>
        <th scope="col">College Name</th>
        <th scope="col">Branch</th>
        <th scope="col">Cutoff</th>
        <th scope="col">Category</th>
      </tr>
    </thead>

    <tbody class="bg-white">
      <tr *ngFor="let college of paginatedColleges">
        <td>{{ college.name || college.college }}</td>
        <td>{{ college.branch }}</td>
        <td>{{ college.cutoff || college.rank }}</td>
        <td>{{ college.category }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="colleges.length === 0" class="text-danger fw-bold text-center mt-4">
  No colleges to display. Apply filters above.
</div>

<div class="mt-4">
  <app-pagination
    [totalItems]="colleges.length"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
